[submodule "third-party/DinguxCommander"]
	path = third-party/DinguxCommander
	url = https://github.com/shauninman/DinguxCommander.git
	branch = miniui-miyoomini
[submodule "third-party/SDL-1.2"]
	path = third-party/SDL-1.2
	url = https://github.com/anzz1/SDL-1.2.git
	branch = miyoomini
[submodule "third-party/picoarch"]
	path = third-party/picoarch
	url = https://github.com/anzz1/picoarch.git
	branch = miniui-miyoomini
[submodule "third-party/vvvvvv"]
	path = third-party/vvvvvv
	url = https://github.com/anzz1/vvvvvv.git
	branch = miniui-miyoomini
[submodule "third-party/st-sdl"]
	path = third-party/st-sdl
	url = https://github.com/anzz1/st-sdl.git
[submodule "third-party/dropbear-embedded"]
	path = third-party/dropbear-embedded
	url = https://github.com/anzz1/dropbear-embedded.git
	branch = miyoomini
