!/**/.gitkeep
!/**/.keep

.DS_Store
.DS_Store?
Thumbs.db
.vscode
.vagrant

*.o
*.so
*.map
*.idb
*.pdb
*.id[0-9]

build/
nopes/
releases/

# thanks I hate it
batmon
!batmon/
keymon
!keymon/
lumon
!lumon/
MiniUI
!MiniUI/
progressui
!progressui/
show
!show/
confirm
!confirm/
say
!say/
blank
!blank/
clock
!clock/
keyboard
!keyboard/
oss
!oss/

screenshot
!screenshot/
logoread
!logoread/
logomake
!logomake/
logowrite
!logowrite/

# NOTE: this eats miyoo/app/keymon, had to add extension then remove it in makefile
